body {
padding:0;
margin:0; 
color:#0e0;
}
.main{
    display:none ;
    padding:1px;
    color:#0e0;
    text-align:center;
    font-family:monospace;
}
.container{
    background-color:#101010;
    position:absolute;
    height:100%;
    width:100%;
}
#loading{
    font-family:monospace;
    animation:initiate 2s linear;
    text-align:centre;
    top:40%;
    left:25px;
    position:absolute;
    color:red;
    font-size:30px; 
    font-weight:100;
}
@keyframes initiate{
    0%{
        
        opacity:1;
    }
    60%{
        opacity:0.5;
    } 
    80%
    {
        opacity: 0.3;
    }
    100%{
       
        opacity:0; 
        display:none;
    }
}
hr
{
   border-color:red;
}
h1{
text-align:center;
font-weight:100; 
font-size:30px;
}  
#Output
{  
background-color:green;  
width:100%;
color:black; 
display:block; 
height:auto;
}
#cmd
{ 
display:block; 
position:fixed; 
width:80%;  
height:10%;
left:0;
bottom:4px; 
border:2px solid red; 
background-color:#102030; 
color:#0e0; 
margin:0; 
outline:none;
}
#cmd_exec{  
display:block; 
position:fixed; 
box-shadow:-1px -1px 1px #f88;
width:16%;  
height:10%;
right:0;
bottom:4px; 
border:2px solid red; 
background-color:#102030; 
color:#0e0; 
font-size:30px;
font-weight:1px;
}
